//- тестовые данные для слайдера
-
  const component = {
    imgMod: 'cover',
    content: {
      pagination: true,
      slides: [
        {
          image: 'project-slides/main-1',
          format: 'jpg',
          width: '740',
          height: '534',
          altText: 'Description',
        },
        {
          image: 'project-slides/main-2',
          format: 'jpg',
          width: '740',
          height: '534',
          altText: 'Description',
        },
        {
          image: 'project-slides/main-3',
          format: 'jpg',
          width: '740',
          height: '534',
          altText: 'Description',
        },
        {
          image: 'project-slides/main-4',
          format: 'jpg',
          width: '740',
          height: '534',
          altText: 'Description',
        },
        {
          image: 'project-slides/main-5',
          format: 'jpg',
          width: '740',
          height: '534',
          altText: 'Description',
        },
      ],
    },
    contentThumb: [
      {
        image: 'project-slides/mini-1',
        format: 'jpg',
        width: '132',
        height: '102',
        altText: 'Description',
      },
      {
        image: 'project-slides/mini-2',
        format: 'jpg',
        width: '132',
        height: '102',
        altText: 'Description',
      },
      {
        image: 'project-slides/mini-3',
        format: 'jpg',
        width: '132',
        height: '102',
        altText: 'Description',
      },
      {
        image: 'project-slides/mini-4',
        format: 'jpg',
        width: '132',
        height: '102',
        altText: 'Description',
      },
      {
        image: 'project-slides/mini-5',
        format: 'jpg',
        width: '132',
        height: '102',
        altText: 'Description',
      },
    ],
  };
