mixin project-content()
  -
    const list = [
      {
        heading: 'Описание',
        description: 'Онлайн ИБП СИПБ2КА.10-11 двойного преобразования полной мощностью 2000 ВА с встроенными аккумуляторами. Выходной коэффициент мощности 1,0 позволяет защищать больше современного оборудования с&nbsp;высокой активной мощностью. Возможность установки в стойку или на&nbsp;пол, высота в&nbsp;стойке&nbsp;2U.&nbsp;Подключение&nbsp;дополнительных аккумуляторов для увеличения времени автономной работы. Внутренний мини слот для установки SNMP-карты.',
      },
      {
        heading: 'Решение',
        description: 'Онлайн ИБП СИПБ2КА.10-11 двойного преобразования полной мощностью 2000 ВА с встроенными аккумуляторами. Выходной коэффициент мощности 1,0 позволяет защищать больше современного оборудования с&nbsp;высокой активной мощностью. Возможность установки в стойку или на&nbsp;пол, высота в&nbsp;стойке&nbsp;2U.&nbsp;Подключение&nbsp;дополнительных аккумуляторов для увеличения времени автономной работы. Внутренний мини слот для установки SNMP-карты.',
      },
    ];

  .text-content&attributes(attributes)
    each item in list
      h3= item.heading
      if item.description
        p!= item.description
