-
  const productCards = [
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
      ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
    {
      tags: [
        {
          text: "топ продаж",
          mod: "bg-green",
        },
        {
          text: "реестр роспромторга",
        },
      ],
      btns: true,
      image: "product-1",
      width: 220,
      hight: 220,
      title: "СИПБ1КА.10-11",
      text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      table: [
                {
                  name: "Мощность",
                  text: "1000&nbsp;вт",
                },
                {
                  name: "Входное напряжение",
                  text: "300&nbsp;в",
                },
                {
                  name: "Вес",
                  text: "13.8&nbsp;кг",
                },
                {
                  name: "Габариты",
                  text: "440 х 460 х 86.5 мм",
                },
              ]
    },
  ]


mixin product-block()
  .product-block
    +grid-columns({mod: "content", content: productCards, gridMod: "catalog"}).grid-columns--col-3

    +pagination({count: 42})
