//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/gradient-icon
include ./utils/img
include ./utils/sprite

//- Modals

include ./modals/modal-success
include ./modals/modal-filters
include ./modals/modal-request-quote

//- Blocks

include ./blocks/main-nav
include ./blocks/site-search
include ./blocks/nav-board
include ./blocks/main-intro
include ./blocks/features
include ./blocks/marquee-block
include ./blocks/category-block
include ./blocks/support
include ./blocks/all-series
include ./blocks/slider-product
include ./blocks/catalog-intro
include ./blocks/about
include ./blocks/catalog-content
include ./blocks/product-block
include ./blocks/company
include ./blocks/our-mission
include ./blocks/catalog-filter
include ./blocks/product-information
include ./blocks/account
include ./blocks/patent
include ./blocks/promo-materials
include ./blocks/info-project
include ./blocks/slider-pagination
include ./blocks/compare
include ./blocks/compare-content
include ./blocks/buttons-block
include ./blocks/similar-products
//- include ./blocks/modal-filters
include ./blocks/project-information
include ./blocks/product-about
include ./blocks/project-content

//- Mixins

include ./mixins/logo
include ./mixins/btn
include ./mixins/burger
include ./mixins/toggle
include ./mixins/link
include ./mixins/gradient-link
include ./mixins/switch
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/search-form
include ./mixins/search-input
include ./mixins/user-links
include ./mixins/contacts-list
include ./mixins/product-card
include ./mixins/tags
include ./mixins/product-table
include ./mixins/socials
include ./mixins/form
include ./mixins/banner
include ./mixins/features-list.pug
include ./mixins/accordion
include ./mixins/category-card
include ./mixins/tabs
include ./mixins/product-description-card
include ./mixins/product-features-table
include ./mixins/breadcrumbs
include ./mixins/page-section
include ./mixins/marquee
include ./mixins/controls
include ./mixins/ups-card
include ./mixins/footer-navigation
include ./mixins/copyright
include ./mixins/messengers
include ./mixins/filter-item
include ./mixins/custom-range
include ./mixins/grid-columns
include ./mixins/column
include ./mixins/slider
include ./mixins/search-distributor
include ./mixins/product-information-location
include ./mixins/intro-slider
include ./mixins/search-distributor
include ./mixins/pagination
include ./mixins/info-card
include ./mixins/documentation
include ./mixins/info
include ./mixins/product-table
include ./mixins/patent-slider
include ./mixins/promo-card
include ./mixins/project-card
include ./mixins/documentation-title
include ./mixins/documentation-card
//-include ./mixins/tooltip
include ./mixins/tooltips
include ./mixins/patent-card
include ./mixins/count-number
include ./mixins/empty
include ./mixins/file-input
include ./mixins/empty-icon
include ./mixins/empty-product-card
