extends ../components/base/layout

block variables
  - const title = "Сравнение — 1 товар — Связь инжиниринг" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "compare-one-product.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const compare = {
      breadcrumbs: [
        {
          text: 'Главная',
          href: 'index.html'
        },
        {
          text: 'Сравнение',
        },
      ],
      page: {
        section: {
          section: "section",
          level: "h1",
          realLevel: "h1",
          title: "Сравнение",
          compare: {
            switch: {
              label: "Показать только отличия",
              isDisabled: true,
            },
          },
        },
        content: {
          header: "Сравнение товаров",
          link: {
            text: "Удалить все из&nbsp;сравнения",
            classMods: ["dodger-blue"],
            icon: {
              name: "icon-delete",
              width: 24,
              height: 24,
            },
          },
          control: {
            text: "<span class='desktop-text desktop-text--close'>Свернуть все&nbsp;</span><span class='desktop-text desktop-text--open'>Развернуть все&nbsp;</span>характеристики",
            classMods: ["dodger-blue"],
            icon: {
              name: "icon-arrow",
              width: 14,
              height: 14,
              isRight: true,
            },
          },
          emptyCard: {
            text: "Для сравнения необходимо добавить еще один или несколько товаров",
            btn: {
              text: "Смотреть в&nbsp;каталоге",
              classMods: ["primary"],
              href: "catalog.html",
            },
            link: {
              text: "Перейти на&nbsp;главную",
              classMods: ["underlined"],
              href: "index.html",
            },
          },
          headings: [
            {
              name: "Входные характеристики ИБП",
              isActive: true,
            },
            {
              name: "Наименование для блока дополнительных характеристик",
            },
            {
              name: "Наименование для блока дополнительных характеристик",
            },
            {
              name: "Наименование для блока дополнительных характеристик",
            },
          ],
          products: [
            {
              card: {
                btns: true,
                compare: true,
                image: "product-1",
                width: 220,
                hight: 220,
                title: "СИПБ1КА.10-11",
                text: "ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
              },
              features: [
                [
                  {
                    name: "Полная мощность, кВА",
                    value: "1.0",
                  },
                  {
                    name: "Активная мощность, кВт",
                    value: "1.0",
                  },
                  {
                    name: "Фазы на&nbsp;входе",
                    value: "1 фаза",
                  },
                  {
                    name: "Фазы на&nbsp;выходе",
                    value: "1 фаза",
                  },
                  {
                    name: "Форм-фактор",
                    value: "Стоечный&nbsp;/ Напольный",
                  },
                  {
                    name: "Гарантия",
                    value: "24&nbsp;месяца",
                  },
                  {
                    name: "Номинальное входное напряжение",
                    value: "230&nbsp;В (настраивается 200, 208, 220, 240&nbsp;В)",
                  },
                  {
                    name: "Номинальный диапазон напряжений",
                    value: "110 ~ 300&nbsp;В",
                  },
                  {
                    name: "Диапазон входной частоты",
                    value: "40 ~ 70&nbsp;Гц",
                  },
                ],
                [
                  {
                    name: "Полная мощность, кВА",
                    value: "1.0",
                  },
                  {
                    name: "Активная мощность, кВт",
                    value: "1.0",
                  },
                  {
                    name: "Фазы на&nbsp;входе",
                    value: "1 фаза",
                  },
                  {
                    name: "Фазы на&nbsp;выходе",
                    value: "1 фаза",
                  },
                  {
                    name: "Форм-фактор",
                    value: "Стоечный&nbsp;/ Напольный",
                  },
                  {
                    name: "Гарантия",
                    value: "24&nbsp;месяца",
                  },
                  {
                    name: "Номинальное входное напряжение",
                    value: "230&nbsp;В (настраивается 200, 208, 220, 240&nbsp;В)",
                  },
                  {
                    name: "Номинальный диапазон напряжений",
                    value: "110 ~ 300&nbsp;В",
                  },
                  {
                    name: "Диапазон входной частоты",
                    value: "40 ~ 70&nbsp;Гц",
                  },
                ],
                [
                  {
                    name: "Полная мощность, кВА",
                    value: "1.0",
                  },
                  {
                    name: "Активная мощность, кВт",
                    value: "1.0",
                  },
                  {
                    name: "Фазы на&nbsp;входе",
                    value: "1 фаза",
                  },
                  {
                    name: "Фазы на&nbsp;выходе",
                    value: "1 фаза",
                  },
                  {
                    name: "Форм-фактор",
                    value: "Стоечный&nbsp;/ Напольный",
                  },
                  {
                    name: "Гарантия",
                    value: "24&nbsp;месяца",
                  },
                  {
                    name: "Номинальное входное напряжение",
                    value: "230&nbsp;В (настраивается 200, 208, 220, 240&nbsp;В)",
                  },
                  {
                    name: "Номинальный диапазон напряжений",
                    value: "110 ~ 300&nbsp;В",
                  },
                  {
                    name: "Диапазон входной частоты",
                    value: "40 ~ 70&nbsp;Гц",
                  },
                ],
                [
                  {
                    name: "Полная мощность, кВА",
                    value: "1.0",
                  },
                  {
                    name: "Активная мощность, кВт",
                    value: "1.0",
                  },
                  {
                    name: "Фазы на&nbsp;входе",
                    value: "1 фаза",
                  },
                  {
                    name: "Фазы на&nbsp;выходе",
                    value: "1 фаза",
                  },
                  {
                    name: "Форм-фактор",
                    value: "Стоечный&nbsp;/ Напольный",
                  },
                  {
                    name: "Гарантия",
                    value: "24&nbsp;месяца",
                  },
                  {
                    name: "Номинальное входное напряжение",
                    value: "230&nbsp;В (настраивается 200, 208, 220, 240&nbsp;В)",
                  },
                  {
                    name: "Номинальный диапазон напряжений",
                    value: "110 ~ 300&nbsp;В",
                  },
                  {
                    name: "Диапазон входной частоты",
                    value: "40 ~ 70&nbsp;Гц",
                  },
                ],
              ],
            },
          ],
        },
      },
    }

block main
  main
    .page-content
      +breadcrumbs(compare.breadcrumbs)
      +compare(compare.page)

block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success({
        title: "Заявка успешно отправлена",
        content: "Наш менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время",
      })

  +modal("modal--request-quote modal--no-scale modal--fit-content")(data-modal="request-quote")
    +request-quote({
      logo: {
        icon: {
        name: "logo",
        width: 230,
        height: 36,
        },
        isIndex: currentUrl === "index.html",
      },
      title: "Запросить коммерческое предложение",
      subTitle: "СИПБ1КА.10-11 Онлайн ИБП двойного преобразования полной мощностью 1000&nbsp;ВА",
      image: "product-1",
      width: 220,
      hight: 220,
      code: "АПСМ.435241.026-01",
      table: [
        {
          name: "Мощность",
          text: "1000 вт",
        },
        {
          name: "Входное напряжение",
          text: "300 в",
        },
        {
          name: "Вес",
          text: "13.8 кг",
        },
        {
          name: "Габариты",
          text: "440 х 460 х 86.5 мм",
        },
      ],
      countMod: "counter",
      countText: "Указать количество, шт.",
      formTitle: "Контактные данные для&nbsp;обратной связи",
      formInputName: {
        inputPlaceholder: "Ваше имя",
        inputType: "text",
        inputId: "request-name",
        inputName: "frequest-name",
      },
      formInputPhone: {
        inputPlaceholder: "Номер телефона",
        inputType: "tel",
        inputId: "request-number",
        inputName: 'request-number',
      },
      formInputEmail: {
        inputPlaceholder: "E-mail",
        inputType: "email",
        inputId: "request-e-mail",
        inputName: "request-e-mail",
      },
      formInputFile: {
        inputPlaceholder: "Прикрепить файл",
        inputType: "file",
        inputId: "request-file",
        inputName: "request-file",
        inputHidden: "visually-hidden",
        inputLabel: "Прикрепить файл",
        fileName: "clip",
        fileWidth: 24,
        fileHeight: 24,
      },
      formInputInfo: {
        inputPlaceholder: "Здесь можно оставить комментарий к заявке",
        inputName: "request-info",
      },
    }
  )
