mixin copyright()
  .footer__copyright
    p.footer__copyright-text Copyright © 2022 ООО «Связь инжиниринг»
    .footer__copyright-container
      p.footer__copyright-made-in Сделано в
      a.footer__copyright-link(href="#" target="_blank" rel="nofollow noopener noreferrer")
        +icon('peach-logo', '60', '28')
