mixin form(data = {})
  .form&attributes(attributes)
    h2.title.title--h2 Связаться с нами
    form(method="post" novalidate)
      +custom-input(
        {
          inputPlaceholder: 'Имя',
          inputType: 'text',
          inputId: 'field-name',
          inputName: 'field-name',
        }
      )
      +custom-input(
        {
          inputPlaceholder: 'Телефон',
          inputType: 'tel',
          inputId: 'field-number',
          inputName: 'field-number',
        }
      )
      +custom-input(
        {
          inputPlaceholder: 'E-mail',
          inputType: 'email',
          inputId: 'field-e-mail',
          inputName: 'field-e-mail',
        }
      )

      p.form__text
        .
          Нажимая на кнопку, вы соглашаетесь на обработку своих персональных данных и&nbsp;принимаете условия #[a(href="#" target="_blank" rel="nofollow noopener noreferrer") пользовательского соглашения]
    .form__button-container
      +btn({type: 'submit', text: 'Отправить запрос', classMods: ['secondary']})
