-
  const controls = [
    {
      type: 'button',
      description: 'Предыдущее изображение',
      iconName: 'control-left',
    },
    {
      type: 'button',
      description: 'Следующее изображение',
      iconName: 'control-right',
    },
  ];
