mixin product-description-card()

  .product-description-card.text-content&attributes(attributes)
    h3 Серия СИПБ 1-3 кВА Rack/Tower
    p Онлайн ИБП СИПБ2КА.10-11 двойного преобразования полной мощностью 2000&nbsp;ВА с&nbsp;встроенными аккумуляторами. Выходной коэффициент мощности 1,0 позволяет защищать больше современного оборудования с&nbsp;высокой активной мощностью. Возможность установки в&nbsp;стойку или на&nbsp;пол, высота в&nbsp;стойке 2U. Подключение дополнительных аккумуляторов для увеличения времени автономной работы. Внутренний мини слот для установки SNMP-карты.

    h3 Подключение
    ul
      li Выходной коэффициент мощности до&nbsp;1.0 обеспечивает высокую плотность мощности;
      li Большое количество выходных розеток, для моделей 3000&nbsp;ВА дополнительная розетка большой мощности;
      li Синусоидальное выходное напряжение во&nbsp;всех режимах работы и&nbsp;нулевое время переключения на&nbsp;аккумуляторы;
      li Увеличение времени автономной работы подключением внешних батарейных блоков;
      li Автоматическое включение оборудования при восстановлении электросети;
      li &laquo;Холодный&raquo; старт&nbsp;&mdash; включение ИБП при&nbsp;отсутствии электропитания;
      li Управление группами розеток, приоритетное электропитание ответственного оборудования;
      li Доступны модели с&nbsp;повышенным током заряда для подключения аккумуляторных блоков большой емкости.

    h3 Управление
    ul
      li Информативный ЖК-дисплей с&nbsp;дополнительной светодиодной индикацией;
      li Встроенные интерфейсы управления USB, RS-232;
      li Внутренний слот для карт SNMP или "сухие" контакты;
      li Настраиваемый порт аварийного отключения (EPO).

    h3 Установка и&nbsp;эксплуатация
    ul
      li Установка и&nbsp;эксплуатация
      li Режим высокой эффективности для&nbsp;экономии электроэнергии (ЕСО режим);
      li Интеллектуальный заряд аккумуляторов для&nbsp;продления их&nbsp;срока службы;
      li Автоматическое самотестирование для&nbsp;увеличения надежности системы;
      li &laquo;Горячая&raquo; замена аккумуляторов без&nbsp;отключения оборудования.
