mixin modal-filters

  .modal-filters
    .container
        +logo({
          icon: {
            name: "logo",
            width: 233,
            height: 40,
          },
          isIndex: currentUrl === "index.html",
        }).modal-filters__logo

    .modal-filters__wrapper
      +btn({
        text: "Применить фильтры",
        classMods: ["primary"]
        })(data-button='button', data-close-modal).modal-filters__button
